@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../assets/fonts/SegoeUI-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Segoe UI";
  src: url("../assets/fonts/SegoeUI-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Segoe UI";
  src: url("../assets/fonts/SegoeUI-SemiBold.woff") format("woff");
  font-weight: 600;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

*,
*::before,
*::after,
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
}

.header-main .header-menu-block .profile-block, .header-main .header-menu-block .cart-block {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.header-main .header-menu-block .profile-block, .header-main .header-menu-block .cart-block {
  display: flex;
  align-content: center;
  justify-content: center;
}

.agreement-block .agreement-to-pay-label, .choose-to-pay-block .choose-to-pay-label, .choose-to-pay-block .terms-of-payment-paragraph, .payment-block-info-bottom-2 .card-info-paragraph-2, .total-return-delivery-block .return-deliveryparagraph, .delivery-total-adress,
.delivery-total-date, .warning, .delivery-section .raiting-number, .delivery-section .delivery-block-info-time, .delivery-section .return-delivery-paragraph,
.payment-section .raiting-number,
.payment-section .delivery-block-info-time,
.payment-section .return-delivery-paragraph,
.recipient-section .raiting-number,
.recipient-section .delivery-block-info-time,
.recipient-section .return-delivery-paragraph, .out-of-stock-items .chosen-product-color-out, .out-of-stock-items .chosen-product-size-out, .chosen-product .quantity-left, .chosen-product .total-block .total-old-price, .chosen-product .chosen-product-sender-block .is-stocked-at, .chosen-product .chosen-product-sender-block .chosen-product-origin, .chosen-product .chosen-product-characteristics .chosen-product-color, .chosen-product .chosen-product-characteristics .chosen-product-size, .header-main .header-menu-block .profile-paragraph, .header-main .header-menu-block .cart-paragraph {
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.pop_up .pop_up_body .delivery-buttons-block .pick-up-point, .pop_up .pop_up_body .delivery-buttons-block .by-courier, .pop_up .pop_up_body-second .delivery-buttons-block .pick-up-point, .pop_up .pop_up_body-second .delivery-buttons-block .by-courier, .pop_up .pop_up_body .pop-up-adress, .pop_up .pop_up_body-second .pop-up-adress {
  color: var(--text-black, #000);
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}

.recipient-block-info-inputs-1 ::-moz-placeholder, .recipient-block-info-inputs-2 ::-moz-placeholder {
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.pop_up .pop_up_body .pop-up-adresses-block .pop-up-adress-block .pop-up-rb-label, .pop_up .pop_up_body-second .pop-up-adresses-block .pop-up-adress-block .pop-up-rb-label, .total-section .total-items-quantity, .total-section .total-items-price, .total-section .total-items-discount-paragraph, .total-section .total-items-discount, .total-section .total-items-delivery-paragraph, .total-section .total-items-delivery-price, .recipient-block-info-inputs-1 ::placeholder,
.recipient-block-info-inputs-2 ::placeholder, .delivery-section .delivery-block-info-desc, .delivery-section .delivery-info-price-of-delivery, .delivery-section .card-info-paragraph, .delivery-section .card-info-paragraph-second,
.payment-section .delivery-block-info-desc,
.payment-section .delivery-info-price-of-delivery,
.payment-section .card-info-paragraph,
.payment-section .card-info-paragraph-second,
.recipient-section .delivery-block-info-desc,
.recipient-section .delivery-info-price-of-delivery,
.recipient-section .card-info-paragraph,
.recipient-section .card-info-paragraph-second, .out-of-stock-items .chosen-product-description-out, .chosen-product .counter .counter-quantity, .chosen-product .chosen-product-description-block .chosen-product-description {
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.pop_up .pop_up_body button, .pop_up .pop_up_body-second button, .huge-order-button-block .huge-order-button, .delivery-total-heading, .payment-total-heading, .delivery-section .delivery-method-block .change-delivery, .delivery-section .delivery-method-block .change-payment, .delivery-section .payment-method-block .change-delivery, .delivery-section .payment-method-block .change-payment, .delivery-section .recipient-method-block .change-delivery, .delivery-section .recipient-method-block .change-payment,
.payment-section .delivery-method-block .change-delivery,
.payment-section .delivery-method-block .change-payment,
.payment-section .payment-method-block .change-delivery,
.payment-section .payment-method-block .change-payment,
.payment-section .recipient-method-block .change-delivery,
.payment-section .recipient-method-block .change-payment,
.recipient-section .delivery-method-block .change-delivery,
.recipient-section .delivery-method-block .change-payment,
.recipient-section .payment-method-block .change-delivery,
.recipient-section .payment-method-block .change-payment,
.recipient-section .recipient-method-block .change-delivery,
.recipient-section .recipient-method-block .change-payment, .textMiddleBold, .chosen-product-right .total-block .total-number, .chosen-product .total-block .total-currency pre {
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.delivery-section .dilevery-info-block .dilevery-block-info-heading,
.payment-section .dilevery-info-block .dilevery-block-info-heading,
.recipient-section .dilevery-info-block .dilevery-block-info-heading, .out-of-stock-items .out-of-stock-heading {
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.chosen-product .counter button {
  font-family: Segoe UI;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.pop_up .pop_up_body h3, .pop_up .pop_up_body-second h3, .textBigBold, .chosen-product .total-block .total-number {
  font-family: Segoe UI;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.total-price-block .total-heading,
.total-price-block .total-price,
.total-items-info .total-heading,
.total-items-info .total-price,
.total-items-discount-info .total-heading,
.total-items-discount-info .total-price,
.total-items-delivery-info .total-heading,
.total-items-delivery-info .total-price,
.delivery-total-info .total-heading,
.delivery-total-info .total-price,
.delivery-total-block .total-heading,
.delivery-total-block .total-price, .delivery-section .delivery-method-block .delivery-method-heading, .delivery-section .delivery-method-block .payment-method-heading, .delivery-section .delivery-method-block .recipient-method-heading, .delivery-section .payment-method-block .delivery-method-heading, .delivery-section .payment-method-block .payment-method-heading, .delivery-section .payment-method-block .recipient-method-heading, .delivery-section .recipient-method-block .delivery-method-heading, .delivery-section .recipient-method-block .payment-method-heading, .delivery-section .recipient-method-block .recipient-method-heading,
.payment-section .delivery-method-block .delivery-method-heading,
.payment-section .delivery-method-block .payment-method-heading,
.payment-section .delivery-method-block .recipient-method-heading,
.payment-section .payment-method-block .delivery-method-heading,
.payment-section .payment-method-block .payment-method-heading,
.payment-section .payment-method-block .recipient-method-heading,
.payment-section .recipient-method-block .delivery-method-heading,
.payment-section .recipient-method-block .payment-method-heading,
.payment-section .recipient-method-block .recipient-method-heading,
.recipient-section .delivery-method-block .delivery-method-heading,
.recipient-section .delivery-method-block .payment-method-heading,
.recipient-section .delivery-method-block .recipient-method-heading,
.recipient-section .payment-method-block .delivery-method-heading,
.recipient-section .payment-method-block .payment-method-heading,
.recipient-section .payment-method-block .recipient-method-heading,
.recipient-section .recipient-method-block .delivery-method-heading,
.recipient-section .recipient-method-block .payment-method-heading,
.recipient-section .recipient-method-block .recipient-method-heading {
  color: var(--text-black, #000);
  font-family: Segoe UI;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.24px;
}

*,
*::before,
*::after,
body,
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--system-violet, #6725A8);
}

.container {
  padding: 0 24px;
  margin: 0 auto;
  max-width: 1400px;
}

.containerHeader {
  padding: 0 17px 0 24px;
  margin: 0 auto;
  max-width: 1400px;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

svg, img, button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.2);
}

input[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

input + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: var(--text-black, #000);
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.choose-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #6725A8;
}

input[type=checkbox]:checked,
input[type=checkbox]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type=checkbox]:checked + label,
input[type=checkbox]:not(:checked) + label {
  display: inline-block;
  padding-left: 22px;
  line-height: 20px;
  cursor: pointer;
}

input[type=checkbox]:checked + label:before,
input[type=checkbox]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}

input[type=checkbox]:checked + label:before,
input[type=checkbox]:not(:checked) + label:before {
  border-radius: 5px;
}

input[type=checkbox]:checked + label:after,
input[type=checkbox]:not(:checked) + label:after {
  content: "";
  position: absolute;
  transition: all 0.2s ease;
}

input[type=checkbox]:checked + label:after,
input[type=checkbox]:not(:checked) + label:after {
  left: 5px;
  top: 6px;
  width: 13px;
  height: 7px;
  border-radius: 1px;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  transform: rotate(-45deg);
}

input[type=checkbox]:not(:checked) + label:after {
  opacity: 0;
}

input[type=checkbox]:checked + label:after {
  opacity: 1;
}

input[type=checkbox]:checked + label::before {
  border-color: #CB11AB;
  background-color: #CB11AB;
}

/* стили для активного чекбокса (при нажатии на него) */
input[type=checkbox]:not(:disabled):active + label::before {
  border-color: #CB11AB;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
input[type=checkbox]:focus:not(:checked) + label::before {
  border-color: #CB11AB;
}

.input[type=checkbox] > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
  display: none;
}

input[type=number]::inner-spin-button, [type=number]::outer-spin-button {
  height: auto;
  display: none;
}

.agreement-checkbox[type=checkbox]:checked + label::before {
  border-color: #fff;
  background-color: #fff;
}

#agreement-to-pay:checked + label:after,
#agreement-to-pay:not(:checked) + label:after {
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
}

.choose-to-pay-label,
.agreement-to-pay-label {
  margin-left: 8px;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 55% 55%;
}

/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #CB11AB;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active + label::before {
  background-color: #CB11AB;
  border-color: #CB11AB;
}

/* стили для радиокнопки, находящейся в фокусе */
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio:focus:not(:checked) + label::before {
  border-color: #adb5bd;
  background: #fff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked + label::before {
  background-color: #CB11AB;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled + label::before {
  background-color: #e9ecef;
}

.recipient-block-info-inputs-2 input:invalid,
.recipient-block-info-inputs-1 input:invalid {
  border-color: none;
  border-bottom-color: #FF3B30 !important;
  color: #FF3B30;
  box-shadow: none;
}

.recipient-block-info-inputs-2 input:focus:invalid,
.recipient-block-info-inputs-1 input:focus:invalid {
  border-color: none;
  border-bottom-color: #FF3B30 !important;
  color: #FF3B30;
  box-shadow: none;
}

.header-main {
  background: var(--system-violet, #6725A8);
  height: 88px;
}
.header-main .header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.header-main .header-container .header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.header-main .header-container .header-left .header-logo {
  cursor: pointer;
}
.header-main .header-container .header-left .header-logo:hover {
  filter: invert(20%) sepia(117%) saturate(623%) hue-rotate(295deg) brightness(109%) contrast(128%);
}
.header-main .header-container .header-left .header-catalogue {
  margin-right: 15px;
  cursor: pointer;
}
.header-main .header-container .header-left .logo {
  color: var(--system-white, #fff);
  font-family: "Segoe UI";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  font-variant: all-small-caps;
  letter-spacing: 0.56px;
  width: 106px;
  height: 48px;
  letter-spacing: 2.9px;
  width: 106px;
  height: 48px;
  margin-left: 3px;
  margin-top: -4px;
}
.header-main .profile-block, .header-main .cart-block, .header-main .search-icon {
  cursor: pointer;
}
.header-main .search-form-wrap {
  position: relative;
}
.header-main .search-form-wrap .search-form-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-main .search-form-wrap .search-form-info .search-form-input {
  width: 970px;
  height: 46px;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  box-sizing: border-box;
  padding-left: 20px;
  color: #fff;
}
.header-main .search-form-wrap .search-form-info .search-form-input::-moz-placeholder {
  color: var(--system-white, #fff);
  font-family: Segoe UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.5;
}
.header-main .search-form-wrap .search-form-info .search-form-input::placeholder {
  color: var(--system-white, #fff);
  font-family: Segoe UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.5;
}
.header-main .search-form-wrap .search-form-info .search-form-input:focus {
  outline: none;
  border: none;
}
.header-main .search-form-wrap .search-icon {
  position: absolute;
  top: 15px;
  right: 35px;
  opacity: 0.4;
}
.header-main .header-menu-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin-left: 20px;
}
.header-main .header-menu-block .profile-block, .header-main .header-menu-block .cart-block {
  row-gap: 5px;
}
.header-main .header-menu-block .profile-block {
  row-gap: 5px;
}
.header-main .header-menu-block .profile-paragraph, .header-main .header-menu-block .cart-paragraph {
  color: var(--system-white, #fff);
}

.main-content {
  flex: 1 1 auto;
  min-height: calc(100vh - 80px);
  border-radius: 24px;
  background: #E3E3E3;
}
.main-content .two-main-parts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.cart-heading {
  color: var(--text-black, #000);
  font-family: Segoe UI;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.28px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.cart-block-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
}

.choose-all-form > label {
  margin-left: 11px;
}

#choose2:checked + label:before,
#choose2:not(:checked) + label:before,
#choose3:checked + label:before,
#choose3:not(:checked) + label:before, #choose4:checked + label:before,
#choose4:not(:checked) + label:before {
  top: 35px;
}

#choose2:checked + label:after,
#choose2:not(:checked) + label:after,
#choose3:checked + label:after,
#choose3:not(:checked) + label:after, #choose4:checked + label:after,
#choose4:not(:checked) + label:after {
  top: 41px;
}

.chosen-products {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: stretch;
  row-gap: 20px;
}

.chosen-product {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.chosen-product .chosen-img {
  margin-left: 12px;
}
.chosen-product .chosen-product-characteristics {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.chosen-product .chosen-product-characteristics .chosen-product-color, .chosen-product .chosen-product-characteristics .chosen-product-size {
  color: var(--text-black, #000);
}
.chosen-product .chosen-product-description-block {
  width: 100%;
  margin-left: 16px;
}
.chosen-product .chosen-product-description-block .chosen-product-description {
  color: var(--text-black, #000);
  margin-bottom: 5px;
}
.chosen-product .chosen-product-sender-block .chosen-product-origin-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.chosen-product .chosen-product-sender-block .is-stocked-at {
  margin-top: 8px;
}
.chosen-product .chosen-product-sender-block .is-stocked-at, .chosen-product .chosen-product-sender-block .chosen-product-origin {
  color: var(--system-gray, #9797AF);
  margin-bottom: 4px;
  margin-right: 6px;
}
.chosen-product .counter {
  width: 100px;
  height: 44px;
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chosen-product .counter button {
  width: 24px;
  color: var(--text-black, #000);
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
}
.chosen-product .counter .counter-quantity {
  width: 44px;
  height: 23px;
  padding-left: 18px;
  border: none;
}
.chosen-product .total-block .total-price {
  display: flex;
}
.chosen-product .total-block .total-number {
  color: var(--text-black, #000);
  text-align: right;
}
.chosen-product .total-block .total-currency pre {
  color: var(--text-black, #000);
  text-align: right;
}
.chosen-product .total-block .total-old-price {
  color: var(--system-gray, #9797AF);
  text-decoration: line-through;
  text-align: right;
}
.chosen-product .quantity-left {
  margin-top: 8px;
  color: #FF3B30;
}
.chosen-product .counter-block-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-top: 8px;
}

.chosen-product-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.chosen-product-left .chosen-product-description-block {
  width: 275px;
}

.chosen-product-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  max-width: 225px;
  width: 100%;
}
.chosen-product-right .total-block .total-number {
  color: var(--text-black, #000);
  text-align: right;
}

.out-of-stock-items {
  margin: 40px 0;
}
.out-of-stock-items .out-of-stock-quantity-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.out-of-stock-items .out-of-stock-heading {
  color: var(--text-black, #000);
}
.out-of-stock-items .chosen-product-description-out {
  color: var(--system-gray, #9797AF);
}
.out-of-stock-items .chosen-product-color-out, .out-of-stock-items .chosen-product-size-out {
  color: var(--system-gray, #9797AF);
}

.delivery-section,
.payment-section,
.recipient-section {
  border-radius: 16px;
  background: var(--background-white, #fff);
  padding: 16px 0px 24px 0px;
  margin-bottom: 16px;
}
.delivery-section .delivery-method-block, .delivery-section .payment-method-block, .delivery-section .recipient-method-block,
.payment-section .delivery-method-block,
.payment-section .payment-method-block,
.payment-section .recipient-method-block,
.recipient-section .delivery-method-block,
.recipient-section .payment-method-block,
.recipient-section .recipient-method-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 0 24px;
}
.delivery-section .delivery-method-block .change-delivery, .delivery-section .delivery-method-block .change-payment, .delivery-section .payment-method-block .change-delivery, .delivery-section .payment-method-block .change-payment, .delivery-section .recipient-method-block .change-delivery, .delivery-section .recipient-method-block .change-payment,
.payment-section .delivery-method-block .change-delivery,
.payment-section .delivery-method-block .change-payment,
.payment-section .payment-method-block .change-delivery,
.payment-section .payment-method-block .change-payment,
.payment-section .recipient-method-block .change-delivery,
.payment-section .recipient-method-block .change-payment,
.recipient-section .delivery-method-block .change-delivery,
.recipient-section .delivery-method-block .change-payment,
.recipient-section .payment-method-block .change-delivery,
.recipient-section .payment-method-block .change-payment,
.recipient-section .recipient-method-block .change-delivery,
.recipient-section .recipient-method-block .change-payment {
  color: var(--system-magenta, #CB11AB);
  text-align: right;
  border: none;
  background: none;
  cursor: pointer;
}
.delivery-section .dilevery-info-block,
.payment-section .dilevery-info-block,
.recipient-section .dilevery-info-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 32px;
       column-gap: 32px;
  padding: 16px 24px 24px 24px;
}
.delivery-section .dilevery-info-block .dilevery-block-info-heading,
.payment-section .dilevery-info-block .dilevery-block-info-heading,
.recipient-section .dilevery-info-block .dilevery-block-info-heading {
  color: var(--text-black, #000);
}
.delivery-section .dilevery-info-block .dilevery-block-info-heading:first-child,
.payment-section .dilevery-info-block .dilevery-block-info-heading:first-child,
.recipient-section .dilevery-info-block .dilevery-block-info-heading:first-child {
  margin-bottom: 32px;
}
.delivery-section .dilevery-info-block .dilevery-block-info-heading:nth-child(2),
.payment-section .dilevery-info-block .dilevery-block-info-heading:nth-child(2),
.recipient-section .dilevery-info-block .dilevery-block-info-heading:nth-child(2) {
  margin-bottom: 16px;
}
.delivery-section .dilevery-info-block .dilevery-block-info-heading:nth-child(3),
.payment-section .dilevery-info-block .dilevery-block-info-heading:nth-child(3),
.recipient-section .dilevery-info-block .dilevery-block-info-heading:nth-child(3) {
  margin-bottom: 48px;
}
.delivery-section .dilevery-block-info-right,
.payment-section .dilevery-block-info-right,
.recipient-section .dilevery-block-info-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 16px;
}
.delivery-section .delivery-block-info-desc, .delivery-section .delivery-info-price-of-delivery, .delivery-section .card-info-paragraph, .delivery-section .card-info-paragraph-second,
.payment-section .delivery-block-info-desc,
.payment-section .delivery-info-price-of-delivery,
.payment-section .card-info-paragraph,
.payment-section .card-info-paragraph-second,
.recipient-section .delivery-block-info-desc,
.recipient-section .delivery-info-price-of-delivery,
.recipient-section .card-info-paragraph,
.recipient-section .card-info-paragraph-second {
  color: var(--text-black, #000);
}
.delivery-section .raiting-number, .delivery-section .delivery-block-info-time, .delivery-section .return-delivery-paragraph,
.payment-section .raiting-number,
.payment-section .delivery-block-info-time,
.payment-section .return-delivery-paragraph,
.recipient-section .raiting-number,
.recipient-section .delivery-block-info-time,
.recipient-section .return-delivery-paragraph {
  color: var(--text-black, #000);
}
.delivery-section .return-delivery-paragraph > span,
.payment-section .return-delivery-paragraph > span,
.recipient-section .return-delivery-paragraph > span {
  color: var(--system-green, #0CB477);
}
.delivery-section .raiting,
.payment-section .raiting,
.recipient-section .raiting {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.delivery-section .raiting .delivery-block-info-time,
.payment-section .raiting .delivery-block-info-time,
.recipient-section .raiting .delivery-block-info-time {
  margin-left: 8px;
}

.card-info-paragraph-second {
  margin-left: 12px;
}

.delivery-block-info-bottom,
.payment-block-info-bottom,
.payment-block-info-bottom-2,
.warning,
.recipient-block-info-inputs-1,
.recipient-block-info-inputs-2 {
  -moz-column-gap: 8px;
       column-gap: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;
}

.warning {
  color: var(--system-gray, #9797AF);
}

.payment-block-info-bottom {
  margin-top: 16px;
  margin-bottom: 8px;
}

.recipient-block-info-inputs-1,
.recipient-block-info-inputs-2 {
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-top: 34px;
}
.recipient-block-info-inputs-1 ::-moz-placeholder, .recipient-block-info-inputs-2 ::-moz-placeholder {
  color: var(--system-gray, #9797AF);
}
.recipient-block-info-inputs-1 ::placeholder,
.recipient-block-info-inputs-2 ::placeholder {
  color: var(--system-gray, #9797AF);
}

.recipient-block-info-inputs-1 label,
.recipient-block-info-inputs-1 input,
.recipient-block-info-inputs-2 label,
.recipient-block-info-inputs-2 input {
  width: 100%;
  height: 24px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.recipient-section {
  margin-bottom: 50px;
}

.recipient-block-inputs {
  margin-bottom: 24px;
}

.total-section {
  width: 429px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 24px 24px 24px;
  gap: 24px;
  border-radius: 16px;
  background: var(--background-white, #fff);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  margin-top: 22px;
}
.total-section .total-items-info-block, .total-section .total-delivery-info-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.total-section .total-items-quantity, .total-section .total-items-price, .total-section .total-items-discount-paragraph, .total-section .total-items-discount, .total-section .total-items-delivery-paragraph, .total-section .total-items-delivery-price {
  color: var(--text-black, #000);
}

.delivery-total-block-bottom,
.payment-block, .choose-to-pay-block {
  width: 100%;
}

.total-price-block,
.total-items-info,
.total-items-discount-info,
.total-items-delivery-info,
.delivery-total-info,
.delivery-total-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.delivery-total-heading, .payment-total-heading {
  color: var(--text-black, #000);
}

.delivery-total-adress,
.delivery-total-date {
  color: var(--text-black, #000);
}

.delivery-total-date {
  color: var(--system-magenta, #CB11AB);
}

.total-return-delivery-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  -moz-column-gap: 8px;
       column-gap: 8px;
  border-radius: 8px;
  background: var(--background-smoky, #F6F6FA);
  padding: 8px 8px 12px 8px;
}
.total-return-delivery-block .return-deliveryparagraph {
  color: var(--text-black, #000);
}
.total-return-delivery-block .return-deliveryparagraph > span {
  color: var(--system-green, #0CB477);
}

.payment-total-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.payment-block-info-bottom-2 {
  padding: 0;
  margin-top: 8px;
}
.payment-block-info-bottom-2 .card-info-paragraph-2 {
  color: var(--text-black, #000);
  text-align: right;
}

.choose-to-pay-block {
  border-radius: 8px;
  background: var(--background-smoky, #F6F6FA);
  padding: 8px 8px 12px 8px;
}
.choose-to-pay-block .choose-to-pay-form {
  position: relative;
}
.choose-to-pay-block .terms-of-payment-paragraph {
  margin-top: 8px;
}
.choose-to-pay-block .choose-to-pay-label, .choose-to-pay-block .terms-of-payment-paragraph {
  color: var(--text-black, #000);
}

.huge-order-button-block {
  width: 100%;
}
.huge-order-button-block .huge-order-button {
  color: var(--system-white, #fff);
  border: none;
  outline: none;
  width: 100%;
  border-radius: 8px;
  background: var(--system-magenta, #CB11AB);
  padding: 0px 32px 5px 32px;
  height: 44px;
}

.agreement-block {
  position: relative;
}
.agreement-block .agreement-to-pay-label {
  color: var(--text-black, #000);
}

.hover-violet-color:hover {
  stroke: #CB11AB;
  fill: #CB11AB;
}

.red-color:hover {
  stroke: #F55123;
  fill: #F55123;
}

.display-none {
  display: none;
}

.pop_up {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.pop_up.active {
  display: block !important;
}
.pop_up .pop_up_container {
  display: flex;
  width: 100%;
  height: 100%;
}
.pop_up .pop_up_body, .pop_up .pop_up_body-second {
  margin: auto;
  width: 500px;
  height: 408px;
  text-align: center;
  padding: 16px 22px 110px 22px;
  position: relative;
  border-radius: 16px;
  background: var(--text-white, #fff);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}
.pop_up .pop_up_body h3, .pop_up .pop_up_body-second h3 {
  color: var(--text-black, #000);
  text-align: left;
}
.pop_up .pop_up_body .pop-up-adress, .pop_up .pop_up_body-second .pop-up-adress {
  line-height: 16px;
  text-align: left;
  margin-top: 24px;
}
.pop_up .pop_up_body .pop-up-adresses-block, .pop_up .pop_up_body-second .pop-up-adresses-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 20px;
  margin-top: 12px;
  padding-bottom: 33px;
}
.pop_up .pop_up_body .pop-up-adresses-block .pop-up-adress-block, .pop_up .pop_up_body-second .pop-up-adresses-block .pop-up-adress-block {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pop_up .pop_up_body .payment-method-heading, .pop_up .pop_up_body-second .payment-method-heading {
  margin: 16px 24px 13px 24px;
}
.pop_up .pop_up_body .pop-up-payments-block, .pop_up .pop_up_body-second .pop-up-payments-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 16px;
  margin: 0px 22px 123px 22px;
}
.pop_up .pop_up_body .pop-up-payments-block .pop-up-payment-block, .pop_up .pop_up_body-second .pop-up-payments-block .pop-up-payment-block {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.pop_up .pop_up_body .pop-up-payments-block .pop-up-payment-block svg, .pop_up .pop_up_body-second .pop-up-payments-block .pop-up-payment-block svg {
  width: 30px;
}
.pop_up .pop_up_body .pop-up-payments-block .pop-up-payment-block .payment-block-info-bottom, .pop_up .pop_up_body-second .pop-up-payments-block .pop-up-payment-block .payment-block-info-bottom {
  margin: 0;
  padding: 0;
  padding-left: 8px;
}
.pop_up .pop_up_body .delivery-buttons-block, .pop_up .pop_up_body-second .delivery-buttons-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 13px auto 0px auto;
}
.pop_up .pop_up_body .delivery-buttons-block .pick-up-point, .pop_up .pop_up_body .delivery-buttons-block .by-courier, .pop_up .pop_up_body-second .delivery-buttons-block .pick-up-point, .pop_up .pop_up_body-second .delivery-buttons-block .by-courier {
  width: 224px;
  height: 36px;
  border-radius: 20px;
  border: 2px solid rgba(203, 17, 171, 0.15);
  background: var(--text-white, #fff);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.pop_up .pop_up_body .delivery-buttons-block .pick-up-point:hover, .pop_up .pop_up_body .delivery-buttons-block .by-courier:hover, .pop_up .pop_up_body-second .delivery-buttons-block .pick-up-point:hover, .pop_up .pop_up_body-second .delivery-buttons-block .by-courier:hover {
  border-radius: 24px;
  border: 2px solid #CB11AB;
}
.pop_up .pop_up_body input:focus, .pop_up .pop_up_body-second input:focus {
  outline: none;
}
.pop_up .pop_up_body button, .pop_up .pop_up_body-second button {
  cursor: pointer;
  display: block;
  width: 164px;
  height: 44px;
  padding: 20px 0px;
  border: none;
  color: #fff;
  border-radius: 8px;
  background: var(--system-magenta, #CB11AB);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 16px;
}
.pop_up .pop_up_body .pop_up_close, .pop_up .pop_up_body-second .pop_up_close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 21px;
  cursor: pointer;
}
.pop_up .pop_up_body-second {
  width: 352px;
}
.pop_up .pop_up_body-second button {
  margin: 0;
  padding: 0;
  margin-left: 24px;
}

.change-delivery:hover, .change-payment:hover {
  opacity: 0.5;
}

.change-icon-block :hover {
  fill: #CB11AB;
  stroke: #CB11AB;
}

.footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--system-violet, #6725A8);
  gap: 40px;
}
.footer-main .footer-content-paragraph {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding: 24px;
}/*# sourceMappingURL=styles.css.map */