@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin detailedFlex($direction:row, $justify:flex-start, $align:strech, $wrap:nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}
@mixin display($display: block, $border-radius: 50%, $margin: 0 auto, $width: 250px) {
    display: $display;
    border-radius: $border-radius;
    margin: $margin;
    width: $width;

}

@mixin alignCenter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin flexStart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: flex-start;
    align-content: start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}


@mixin flexBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


@mixin header-container ($width: 1440px) {
    padding:  16px 17px 16px 20px;
    margin: 0 auto;
    max-width: $max-width;
}
@mixin container($max-width:1400px) {
  padding: 0 24px;
  margin: 0 auto;
  max-width: $max-width;
}
@mixin mobileContainer($max-width: 768px) {
    padding: 0 16px;
    margin: 0 auto;
    max-width: $max-width;
}
@mixin mobileContainerHeader($max-width: 768px) {
    padding: 11px 13px 21px 13px;
    margin: 0 auto;
    max-width: $max-width;
}
@mixin containerHeader($max-width:1400px) {
    padding: 0 17px 0 24px;
    margin: 0 auto;
    max-width: $max-width;
  }


  @mixin textBigBoldMobile {
     color: var(--text-black, $color-black);
     font-family: Segoe UI;
     font-size: 20px;
     font-style: normal;
     font-weight: 700;
     line-height: 28px;
     letter-spacing: -0.2px;
  }