$color-black: #000;
$color-white: #fff;
$color-gray:#9797AF;
$color-light-gray:#E3E3E3;
$color-violet: #6725A8;
$color-red:#FF3B30;
$color-magenta:#CB11AB;
$color-green: #0CB477;
$color-smoky: #F6F6FA;
$color-red-delete:#F55123;
$color-orange: #F55123;