.header-main {
    // border: 1px solid #000;
    background: var(--system-violet, $color-violet);
    height: 88px;
    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    & .header-container {
        @include flex(row, space-between, center);
        padding: 16px 0;
        column-gap: 32px;

        & .header-left {
            @include flex();
            height: 48px;

            & .header-logo {
                cursor: pointer;


                &:hover {
                    filter: invert(20%) sepia(117%) saturate(623%) hue-rotate(295deg) brightness(109%) contrast(128%);
                }
            }

            & .header-catalogue {
                margin-right: 15px;
                cursor: pointer;
            }

            & .logo {
                color: var(--system-white, #fff);
                font-family: "Segoe UI";
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                font-variant: all-small-caps;
                letter-spacing: .56px;
                width: 106px;
                height: 48px;
                letter-spacing: 2.9px;
                width: 106px;
                height: 48px;
                margin-left: 2px;
                // margin-top: -4px;
            }
        }
    }

    & .profile-block , & .cart-block , & .search-icon{
        cursor: pointer;
     }
      & .cart-block {
          

        & .cart-icon-block {
            position: relative;
                @include detailedFlex(column, center, center, wrap);
                align-content: center;
                right: 3px;
                bottom: 1px;

            & .cart-counter-block {
                @include detailedFlex(column,center,center,nowrap);
                align-content: center;
                position: absolute;
                bottom: 17px;
                left: 22px;
                width: 16px;
                height: 16px;
                border-radius: 16px;
                background: var(--system-orange, $color-orange);

                & .cart-counter {
                    color: var(--system-white, $color-white);
                    text-align: center;
                    font-family: Segoe UI;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 18px;

                }
            }


        }
     }

    .search-form-wrap {
        position: relative;
        // margin: 0 45px;
        padding-top: 0.35em;

        & .search-form-info {
            @include flex(row, space-between, center);

            & .search-form-input {
                // width: 930px;
                width: 970px;
                height: 46px;
                border-radius: 36px;
                background: rgba(255, 255, 255, 0.20);
                border: none;
                box-sizing: border-box;
                padding-left: 20px;
                color: $color-white;

                &::placeholder {
                    color: var(--system-white, $color-white);
                    font-family: Segoe UI;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    opacity: 0.5;
                }

                &:focus {
                    outline: none;
                    border: none;
                }
            }
        }

        & .search-icon {
            position: absolute;
            top: 16px;
            right: 20px;
            opacity: 0.4;
        }
    }

    & .header-menu-block {
        @include flex(row, space-between, flex-end);
        // column-gap: 50px;
        // margin-left: 20px;
        & .profile-block,
        & .cart-block {
            @extend %flexCenter;
           row-gap: 6px;
        }
        & .cart-block {
            align-items: center;
            margin-right: 7px;
            margin-left: 41px;
        } 
        & .profile-block {
           row-gap: 5px;
        } 

        & .profile-paragraph,
        & .cart-paragraph {
            color: var(--system-white, $color-white);
            @extend %textSmall;
        }
    }
}