.header-main {
    background: var(--system-violet, $color-violet);
    height: 88px;
    @media screen and (max-width:868px){
        height: 100%;
    }

    & .containerHeader{
        @media screen and (max-width:768px) {
            @include mobileContainerHeader(768px);
        }
    }

    & .header-container {
        @include flex(row, space-between, center);
        padding: 16px 0;
        column-gap: 32px;
        @media screen and (max-width: 1050px) { 
            align-items: flex-start;
        }

        @media screen  and (max-width:768px){
            padding: 0;
        }

        & .header-left {
            @include flex();
            height: 48px;
            @media screen and (max-width: 1050px) { 
                height: 28px;
            }

            & .header-logo {
                cursor: pointer;

                & .logo {
                    @media screen and (max-width: 868px) { 
                        width: 100%;
                    }
                }


                &:hover {
                    filter: invert(20%) sepia(117%) saturate(623%) hue-rotate(295deg) brightness(109%) contrast(128%);
                }
            }

            & .header-catalogue {
                margin-right: 15px;
                cursor: pointer;
                background-image: url(../assets/icons/hamburger-menu-desktop.svg);
                background-color: transparent;
                background-position: 50%;
                background-repeat: no-repeat;
                background-size: 28px 24px;
                border: 1px solid hsla(0, 0%, 100%, .45);
                border-radius: 8px;
                width: 48px;
                height: 48px;
                
                @media screen and (max-width: 868px) {
                        background-image: url(../assets/icons/hamburger-menu.svg);
                        background-size: 28px 26px;
                        border: none;
                        border-radius: 0;
                        height: 28px;
                        width: 28px;
                    }

                &:hover {
                    filter: invert(20%) sepia(117%) saturate(623%) hue-rotate(295deg) brightness(109%) contrast(128%);
                }
            }

            & .logo {
                color: var(--system-white, $color-white);
                font-family: "Segoe UI";
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                font-variant: all-small-caps;
                letter-spacing: .56px;
                width: 106px;
                height: 48px;
                letter-spacing: 2.9px;
                width: 106px;
                height: 48px;
                margin-left: 2px;
                // margin-top: -4px;
                @media screen and (max-width:768px) {
                        color: var(--system-white, #FFF);
                        font-family: Segoe UI;
                        font-size: 26px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        /* 92.308% */
                        font-variant: all-small-caps;
                        letter-spacing: 0.52px;
                    }
            }
        }
    }

    & .search-icon , & .search-icon-mobile{
        background-image: url(../assets/icons/Search.svg);
        @extend %imgStyle;
        background-size: 24px 24px;
        border: none;
        height: 24px;
        width: 24px;
    }
    & .search-icon-mobile {
        display: none;

        @media screen and (max-width:868px) {
             display: block;
        }
    }
    & .profile-block,
    & .cart-block {
        @include detailedFlex(column, center, center, nowrap);
        align-content: center;

        & .profile-block-img {
            background-image: url(../assets/icons/Profile-big.svg);
            @extend %imgStyle;
            height: 28px;
            width: 28px;
            background-size: 28px 28px;
        }
    }

    & .cart-icon-img {
        background-image: url(../assets/icons/Cart.svg);
        @extend %imgStyle;
        height: 28px;
        width: 36px;
        background-size: 28px 28px;
    }

    & .profile-block,
    & .cart-block,
    & .search-icon {
        cursor: pointer;
    }

    & .cart-block {


        & .cart-icon-block {
            position: relative;
            @include detailedFlex(column, center, center, wrap);
            align-content: center;
            right: 3px;
            bottom: 1px;

            & .cart-counter-block {
                @include detailedFlex(column, center, center, nowrap);
                align-content: center;
                position: absolute;
                bottom: 17px;
                left: 22px;
                width: 16px;
                height: 16px;
                border-radius: 16px;
                background: var(--system-orange, $color-orange);

                & .cart-counter {
                    color: var(--system-white, $color-white);
                    text-align: center;
                    font-family: Segoe UI;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 18px;

                }
            }


        }
    }

    .search-form-block {
        width: 100%;

        @media screen and (max-width:868px) {
            display: none;
        }
    }

    .search-form-wrap {
        position: relative;
        // margin: 0 45px;
        padding-top: 0.35em;

        & .search-form-info {
            @include flex(row, space-between, center);

            & .search-form-input {
                width: 100%;
                height: 46px;
                border-radius: 36px;
                background: rgba(255, 255, 255, 0.20);
                border: none;
                box-sizing: border-box;
                padding-left: 20px;
                color: $color-white;

                &::placeholder {
                    color: var(--system-white, $color-white);
                    font-family: Segoe UI;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    opacity: 0.5;
                }

                &:focus {
                    outline: none;
                    border: none;
                }
            }
        }

        & .search-icon {
            position: absolute;
            top: 16px;
            right: 20px;
            opacity: 0.4;
        }
    }

    & .header-menu-block {
        @include flex(row, space-between, flex-end);
        @media screen and (max-width: 868px) {
            display: none;
        }

        // column-gap: 50px;
        // margin-left: 20px;
        & .profile-block,
        & .cart-block {
            @extend %flexCenter;
            row-gap: 6px;
        }

        & .cart-block {
            align-items: center;
            margin-right: 7px;
            margin-left: 41px;
        }

        & .profile-block {
            row-gap: 5px;
        }

        & .profile-paragraph,
        & .cart-paragraph {
            color: var(--system-white, $color-white);
            @extend %textSmall;
        }
    }
}