// Main Content
.main-content {
    flex: 1 1 auto;
    min-height: calc(100vh - 80px);
    border-radius: 24px;
    background: $color-light-gray;
    width: 100%;

    & .two-main-parts {
        @include flex(row, space-between, flex-start);
        column-gap: 32px;
        width: 100%;

        @media screen and (max-width:1000px) {
            flex-direction: column;
        }
    }

    & .main-left {
        width: 100%;
        @media screen and (max-width:1000px) {
            width: 100%;
        }
    }

    & .main-right {
        @media screen and (max-width:1000px) {
            margin-bottom: 50px;
             width: 100% !important;
        }
    }

    & .main-left,
    & .main-right {
        align-items: flex-start;
        @include detailedFlex(column, flex-start, flex-start, nowrap);
    }

    & .main-left {

        & .main-left-top,
        & .main-left-bottom {

            @include detailedFlex(column, flex-start, flex-start, nowrap);
            align-content: flex-start;
            width: 100%;
        }
        & .main-left-right {
            width: 100%;
            @media screen and (max-width: 1000px) {
                width: 100%;
            }
        }
    }

}
.cart {
    width:100%;
}

// Cart Heading
.cart-heading {
    color: var(--text-black, $color-black);
    font-family: Segoe UI;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.28px;
    margin-top: 35px;
    margin-bottom: 25px;
    text-align: left;
}

// Cart Block Main
.cart-block-main {
    @include flex(row, space-between, center);
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}
 .arrow-icon {
    background-image: url(../assets/icons/arrow.svg);
    @extend %imgStyle;
    background-size: 20px 20px;
    border: none;
    height: 20px;
    width: 20px;
}
.divider-line {
    background-image: url(../assets/icons/line.svg);
    @extend %imgStyle;
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
}
// Choose All Form
.choose-all-form>label {
    margin-left: 11px;
}

// Choose 2 and 3 Checkboxes
#choose2:checked+label:before,
#choose2:not(:checked)+label:before,
#choose3:checked+label:before,
#choose3:not(:checked)+label:before,
#choose4:checked+label:before,
#choose4:not(:checked)+label:before {
    top: 35px;
}

#choose2:checked+label:after,
#choose2:not(:checked)+label:after,
#choose3:checked+label:after,
#choose3:not(:checked)+label:after,
#choose4:checked+label:after,
#choose4:not(:checked)+label:after {
    top: 41px;
}


.chosen-products-2 {
    // max-width: 765px;
    margin-top: 7px;
    width: 100%;

    & .chosen-product-left .chosen-product-description-block {
        width: 309px;
        // width: 100%;

    }

    & .chosen-product .chosen-product-description-block {
        @include detailedFlex(column, flex-start, flex-start, wrap);
        align-content: flex-start;
        row-gap: 10px;
    }

    & .chosen-img {
        margin-left: 0px;

    }

    & .chosen-product .counter-block-icons {
        margin: 0;
    }
    & .counter-block {
        margin-right: 125px;
        @media (min-width: 1000px) and (max-width:1200px){
          margin-right: 0;
        }
    }
}

.chosen-products,
.chosen-products-2 {
    @include detailedFlex(column, space-between, stretch, nowrap);
    row-gap: 30px;

    & .chosen-product-out {
        @include detailedFlex(row, flex-start, flex-start, nowrap);
        align-content: center;
    }
}

// Chosen Product
.chosen-product {
    position: relative;
    @include flex(row, space-between, flex-start);
    width: 100%;
    column-gap: 17px;
    @media (min-width: 1000px) and (max-width:1200px){
        // column-gap: 100px;
    }
    @media screen and (max-width:768px) {
        @include flex(column, flex-start, flex-start);
        row-gap: 12px;
    }
    & .total-block-mobile {
        @include detailedFlex(row, flex-start, center,nowrap);
        display: none;
        column-gap: 5px;
        @media screen  and (max-width: 768px){
            display: flex;
        }

        & .total-price-mobile {
            display: flex;
        }

        // Total Number
        & .total-number-mobile {
            color: var(--text-black, $color-black);
            text-align: right;
            @extend %textBigBold;
            font-size: 16px;
            line-height: 26px;
            }

        // Total Currency
        & .total-currency-mobile pre {
            color: var(--text-black, $color-black);
            text-align: right;
            @extend %textMiddleBold;
        }

        // Total Old Price
        & .total-old-price-mobile {
            color: var(--system-gray, $color-gray);
            text-decoration: line-through;
            @extend %textSmall;
            text-align: right;
        }
    }

    // Chosen Product Image
    & .chosen-img {
        margin-left: 12px;

        @media screen and (max-width:768px) {
            margin-left: 0;
        }
    }
   & .choose-checkbox-label {
    @media screen  and (max-width:768px){
        position: absolute;
        top: -30px;
        left: 0;
    }

   }
    // Chosen Product Characteristics
    & .chosen-product-characteristics {
        @include flex(row, flex-start, center);
        column-gap: 16px;

        // Chosen Product Color and Size
        & .chosen-product-color,
        & .chosen-product-size {
            color: var(--text-black, $color-black);
            @extend %textSmall;
        }
    }

    // Chosen Product Description Block
    & .chosen-product-description-block {
        // width: 100%;
        width: 250px;
        margin-left: 16px;

        // Chosen Product Description
        & .chosen-product-description {
            color: var(--text-black, $color-black);
            @extend %textMiddle;
            margin-bottom: 8px;

            @media screen  and (max-width: 768px){
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                font-size: 14px;
                line-height: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre-wrap;
                width: 100%;
            }
        }
    }

    // Chosen Product Sender Block
    & .chosen-product-sender-block {

        // Chosen Product Origin Block
        & .chosen-product-origin-block {
            @include flex();

            @media screen  and (max-width:768px){
                display: none;
            }     
        }
        & .chosen-product-origin-icon {
            background-image: url(../assets/icons/info-icon.svg);
            @extend %imgStyle;
            width: 20px;
            height: 20px;
        }

        // Is Stocked At
        & .is-stocked-at {
            margin-top: 8px;
        }

        & .is-stocked-at:nth-child(3) {
            margin-top: -1px !important;
        }

        // Is Stocked At, Chosen Product Origin
        & .is-stocked-at,
        & .chosen-product-origin {
            color: var(--system-gray, $color-gray);
            @extend %textSmall;
            margin-bottom: 3px;
            margin-right: 7px;
        }
    }

    // Counter
    .counter {
        width: 100px;
        height: 44px;
        border-radius: 8px;
        background: $color-white;
        @include flex(row, center, center);
        @media screen and (max-width:768px) {
            width: 80px;
            height: 32px;
        }

        button {
            width: 24px;
            color: var(--text-black, $color-black);
            text-align: center;
            @extend %textBig;
            background: none;
            border: none;
            cursor: pointer;
        }

        & .counter-quantity {
            width: 44px;
            height: 23px;
            @extend %textMiddle;
            text-align: center;
            border: none;
        }
    }

    // Total Block
    & .total-block {
        @include detailedFlex(column, flex-start, flex-end,nowrap);
        width: 110px;

        @media screen and (max-width:768px) {
               display: none;
            }

        // Total Price
        & .total-price {
            display: flex;
        }

        // Total Number
        & .total-number {
            color: var(--text-black, $color-black);
            text-align: right;
            @extend %textBigBold;
        }

        // Total Currency
        & .total-currency pre {
            color: var(--text-black, $color-black);
            text-align: right;
            @extend %textMiddleBold;
        }

        // Total Old Price
        & .total-old-price {
            color: var(--system-gray, $color-gray);
            text-decoration: line-through;
            @extend %textSmall;
            text-align: right;
        }

        & .total-old-price:nth-child(2) {
            margin-top: 5px;
        }
    }

    // Quantity Left
    & .quantity-left-block {
        @include flex(column);
        row-gap: 8px;

        @media screen and (max-width:768px){
            @include detailedFlex(row, space-between, stretch,nowrap);
            column-gap: 5px;
        }

    }
    & .quantity-left {
        color: $color-red;
        @extend %textSmall;

        @media screen  and (max-width:768px){
          
        }
    }

    // Counter Block Icons
    & .counter-block-icons {
        @include flex(row, flex-end, center);
        column-gap: 17px;
        @media screen  and (max-width:768px){
          
        }
        & .counter-btn-like {
            background-image: url(../assets/icons/like-icon-black.svg);
            background-size: 20px 20px;
            @extend %imgStyle;
            height: 20px;
            width: 20px;
        }
        & .counter-remove-btn {
            background-image: url(../assets/icons/delete-icon.svg);
            background-size: 20px 20px;
            @extend %imgStyle;
            height: 20px;
            width: 20px;
        }
    }
}
.counter-remove-btn-modal {
    background-image: url(../assets/icons/delete-icon-gray.svg);
    background-size: 20px 20px;
    @extend %imgStyle;
    height: 20px;
    width: 20px;
}
// Chosen Product Left
.chosen-product-left {
    @include flex(row, flex-start, flex-start);

    @media screen  and (max-width:768px){
        position: relative;
    }

    & .chosen-img-img {
         @media screen  and (max-width:768px){
             width: 80px;
             height: 106px;
         }
    }
}

// Chosen Product Right
.chosen-product-right {
    @include flex(row, space-between, stretch);
    // max-width: 225px;
    // width: 100%;
    column-gap: 16px;
    @media screen and (max-width:768px){
        width: 100%;
        justify-items: flex-start;
    }
     
     & .counter-block {
        @include detailedFlex(column,flex-end, stretch, nowrap);
        row-gap: 8px;
        @media screen and (max-width:768px) {
            @include detailedFlex(row,space-between, center, nowrap);
            width: 100%;
        }
     }

    // Total Block Total Number
    & .total-block .total-number {
        color: var(--text-black, $color-black);
        text-align: right;
        @extend %textMiddleBold;
    }
}


// Text Middle Bold
.textMiddleBold {
    @extend %textMiddleBold;
}

// Text Big Bold
.textBigBold {
    @extend %textBigBold;
}

// Out of Stock Items
.out-of-stock-items {
    margin: 37px 0;

    // Out of Stock Quantity Block
    & .out-of-stock-quantity-block {
        @include flex(row, space-between, center);
        margin-bottom: 17px;
    }

    // Out of Stock Heading
    & .out-of-stock-heading {
        color: var(--text-black, $color-black);
        @extend %textSemiBold;
    }

    // Chosen Product Description Out
    & .chosen-product-description-out {
        color: var(--system-gray, $color-gray);
        @extend %textMiddle;
    }

    // Chosen Product Color Out, Chosen Product Size Out
    & .chosen-product-color-out,
    & .chosen-product-size-out {
        color: var(--system-gray, $color-gray);
        @extend %textSmall;
    }
}

// Delivery Section
.delivery-section,
.payment-section,
.recipient-section {
    border-radius: 16px;
    background: var(--background-white, $color-white);
    padding: 16px 0px 24px 0px;
    margin-bottom: 16px;
    width: 100%;

    // Delivery Method Block
    & .delivery-method-block,
    & .payment-method-block,
    & .recipient-method-block {
        @include flex(row, space-between, baseline);
        column-gap: 10px;
        padding: 0 24px;

        // Delivery Method Heading
        & .delivery-method-heading,
        & .payment-method-heading,
        & .recipient-method-heading {
            @extend %sectionTextBold;
        }

        // Change Delivery
        & .change-delivery,
        & .change-payment {
            color: var(--system-magenta, $color-magenta);
            text-align: right;
            @extend %textMiddleBold;
            border: none;
            background: none;
            cursor: pointer;
        }
    }

    // Dilevery Info Block
    & .dilevery-info-block {
        @include flex(row, flex-start, flex-start);
        column-gap: 32px;
        padding: 16px 24px 24px 24px;

        // Dilevery Block Info Heading
        & .dilevery-block-info-heading {
            color: var(--text-black, $color-black);
            @extend %textSemiBold;
        }

        & .dilevery-block-info-heading:first-child {
            margin-bottom: 35px;
        }

        & .dilevery-block-info-heading:nth-child(2) {
            margin-bottom: 16px;
        }

        & .dilevery-block-info-heading:nth-child(3) {
            margin-bottom: 48px;
        }
    }

    // Dilevery Block Info Headings, Dilevery Block Info Right
    & .dilevery-block-info-right {
        @include flex(column, flex-start, flex-start);
        row-gap: 16px;

        & .raiting-icon {
            background-image: url(../assets/icons/raiting.svg);
            @extend %imgStyle;
            height: 12px;
            width: 12px;
            background-size: 12px 12px;
        }
    }

    // Delivery Block Info Description
    & .delivery-block-info-desc,
    & .delivery-info-price-of-delivery,
    & .card-info-paragraph,
    & .card-info-paragraph-second {
        color: var(--text-black, $color-black);
        @extend %textMiddle;
    }

    & .raiting-number,
    & .delivery-block-info-time,
    & .return-delivery-paragraph {
        color: var(--text-black, $color-black);
        @extend %textSmall;
    }

    .return-delivery-paragraph>span {
        color: var(--system-green, $color-green);
        border-bottom: 1px dotted $color-green;
    }

    & .dilevery-block-info-desc-first {
        @include detailedFlex(column, flex-start, flex-start, nowrap);
        align-content: flex-start;
        row-gap: 2px;
    }

    // Raiting
    & .raiting {
        @include flex(row, flex-start, center);
        width: 100%;
        column-gap: 6px;

    }
     
        & .delivery-block-info-third, & .delivery-block-info-fourth {

            & .delivery-block-counter {
                position: relative;
            }
    
            & .cart-counter-block {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                align-content: center;
                position: absolute;
                bottom: 17px;
                left: 22px;
                width: 16px;
                height: 16px;
                border-radius: 16px;
                background: var(--system-orange, #F55123);
                top: -10px;
                left: 32px;

                & .cart-counter {
                    color: var(--system-white, #fff);
                    text-align: center;
                    font-family: Segoe UI;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 18px;
                }
            }
    }
    & .delivery-block-info-third,
    &.delivery-block-info-fourth {

        @include detailedFlex(row, flex-start, center);
        align-content: center;
        width: 100%;
        column-gap: 8px;
    }
}

.recipient-block-info-inputs-1>label+input {
    width: 338px;
}

.recipient-block-info-inputs-1 label,
.recipient-block-info-inputs-2 label {
    display: block;
    color: var(--system-gray, $color-gray);
    @extend %textSmall;
}

  
 .sber-icon-block {
    background-image: url(../assets/icons/sber-icon.svg);
    @extend %imgStyle;
    height: 22px;
    width: 22px;
 }


// Delivery Block Info Bottom
.delivery-block-info-bottom,
.payment-block-info-bottom,
.payment-block-info-bottom-2,
.warning,
.recipient-block-info-inputs-1,
.recipient-block-info-inputs-2 {
    column-gap: 8px;
    @include flex(row, flex-start, center);
    padding: 0 24px;
}

.warning {
    color: var(--system-gray, $color-gray);
    @extend %textSmall;
}

.payment-block-info-bottom {
    margin-top: 16px;
    margin-bottom: 8px;
    column-gap: 11px;
}



.recipient-block-info-inputs-1,
.recipient-block-info-inputs-2 {
    column-gap: 24px;
    margin-top: 38px;

    & ::placeholder {
        color: var(--system-gray, $color-gray);
        @extend %textMiddle;
    }
}

.recipient-block-info-inputs-1 input,
.recipient-block-info-inputs-2 input {
    width: 100%;
    height: 24px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    color: var(--text-black, $color-black);
    @extend %textMiddle;
}

.recipient-section {
    margin-bottom: 45px;
}

.recipient-block-inputs {
    margin-bottom: 24px;
    max-width: 748px;
}

.INN-error {
    color: var(--text-black, $color-black);
    @extend %textError;
    position: absolute;
    text-align: left;
    top: 50px;
    left: 0;
    top: 28px;
}

.name-error,
.surname-error,
.email-error,
.phone-error {
    display: none;
    color: var(--system-orange, $color-orange);
    @extend %textError;
    position: absolute;
    text-align: left;
    top: 50px;
    left: 0;
}

.input-block {
    width: 100%;
    position: relative;
}

.input-block>label {
    display: none;
}

.total-section {

    // max-width: 429px;
    @include flex(column, flex-start, center);
    padding: 16px 24px 24px 24px;
    border-radius: 16px;
    background: var(--background-white, $color-white);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    margin-top: 22px;
    @media screen  and (min-width:1400px){
        width: 429px;
    }
    @media screen and (max-width:1024px){
        width: 100%;
    }
    @media screen and (min-width:1001px) and (max-width:1024px){
        width: 303px;
    }

    & .total-block-gap {
        @include flex(column, flex-start, center);
        width: 100%;
        // gap: 24px;
        @media screen and (max-width: 1000px){
            @include flex(column, flex-start, stretch);
        }
    }

    & .total-delivery-info-block {
        margin-bottom: 11px;
        width: 100%;
    }

    & .total-items-info-block {
        margin-bottom: 25px;
    }

    & .total-items-info-block,
    & .total-delivery-info-block {

        @include detailedFlex(row, flex-start, center, wrap);
    }

    & .total-items-quantity,
    & .total-items-price,
    & .total-items-discount-paragraph,
    & .total-items-discount,
    & .total-items-delivery-paragraph,
    & .total-items-delivery-price {
        color: var(--text-black, $color-black);
        @extend %textMiddle;
    }

}

.payment-block {
    margin-bottom: 15px;
}

.delivery-total-block-bottom,
.payment-block,
.choose-to-pay-block {
    @include flex(column);
    width: 100%;
}

.total-price-block {
    margin-bottom: 8px;
}

.choose-to-pay-block {
    @include detailedFlex(column, flex-start, flex-start, nowrap);
    row-gap: 10px;
    margin-bottom: 24px;
}

.total-price-block,
.total-items-info,
.total-items-discount-info,
.total-items-delivery-info,
.delivery-total-info,
.delivery-total-block {
    @include flex(row, space-between, center);
    width: 100%;

    .total-heading,
    .total-price {
        @extend %sectionTextBold;
        letter-spacing: -1px;
    }
}

.delivery-total-heading,
.payment-total-heading {
    color: var(--text-black, $color-black);
    @extend %textMiddleBold;
}

.delivery-total-adress {
    margin-top: 4px;
}

.delivery-total-adress,
.delivery-total-date {
    color: var(--text-black, $color-black);
    @extend %textSmall;
}

.delivery-total-date {
    color: var(--system-magenta, $color-magenta);
    margin-top: 5px;
}

.total-return-delivery-block {
    position: relative;
    @include flex(row, center, center);
    column-gap: 8px;
    border-radius: 8px;
    background: var(--background-smoky, $color-smoky);
    padding: 8px 8px 12px 8px;
    margin-bottom: 25px;
    width: 100%;
    @media screen and (max-width:1000px) {
        @include flex(row, flex-start, center);
    }
     
    & .sber-tooltip {
        height: 56px;
        width: 288px;
        top: 38px;
        left: -113px;
    }
    & .return-deliveryparagraph {
        color: var(--text-black, $color-black);
        @extend %textSmall;

        &>span {
            color: var(--system-green, $color-green);
            border-bottom: 1px dotted $color-green;
        }
    }
}

.payment-total-block {
    @include flex(row, space-between, center);
}

.payment-block-info-bottom-2 {
    padding: 0;
    margin-top: 2px;
    column-gap: 10px;

    & .card-info-paragraph-2 {
        color: var(--text-black, $color-black);
        text-align: right;
        @extend %textSmall;
    }
}

.choose-to-pay-block {
    border-radius: 8px;
    background: var(--background-smoky, $color-smoky);
    padding: 8px 8px 12px 8px;
    width: 100%;

    & .choose-to-pay-form {
        position: relative;
    }

    & .choose-to-pay-label,
    & .terms-of-payment-paragraph {
        color: var(--text-black, $color-black);
        @extend %textSmall;
    }
}

.huge-order-button-block {
    width: 100%;
    margin-bottom: 10px;

    & .huge-order-button {
        color: var(--system-white, $color-white);
        @extend %textMiddleBold;
        border: none;
        outline: none;
        width: 100%;
        border-radius: 8px;
        background: var(--system-magenta, $color-magenta);
        padding: 0px 32px 5px 32px;
        height: 44px;
    }
}

.agreement-block {
    width: 100%;
    position: relative;

    & .agreement-to-pay-label {
        color: var(--text-black, $color-black);
        @extend %textSmall;

    }
}

.hover-violet-color:hover {
    stroke: $color-magenta;
    fill: $color-magenta;
}

.red-color:hover {
    stroke: $color-red-delete;
    fill: $color-red-delete;
}

.display-none {
    display: none;
}

.active {
    display: block !important;
}
//popups

.pop_up {
    display: none;
    @extend %widthHeight100;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
      
    &.active {
        display: block !important;
    }
    & .pop_up_container {
        display: flex;
        @extend %widthHeight100;
    }

    & .pop_up_body,
    & .pop_up_body-second {
        margin: auto;
        width: 500px;
        height: 408px;
        text-align: center;
        padding: 16px 22px 110px 22px;
        position: relative;
        border-radius: 16px;
        background: var(--text-white, $color-white);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);

        h3 {
            color: var(--text-black, $color-black);
            @extend %textBigBold;
            text-align: left;
        }

        & .pop-up-adress {
            @extend %textSmallBold;
            line-height: 16px;
            text-align: left;
            margin-top: 24px;
        }

        & .pop-up-adresses-block {
            @include flex(column);
            row-gap: 20px;
            margin-top: 12px;
            padding-bottom: 33px;
            // padding:0 24px 33px 24px;

            & .pop-up-adress-block {
                position: relative;
                @include flex(row, space-between, center);

                & .pop-up-rb-label {
                    @extend %textMiddle;
                }
            }
        }

        & .payment-method-heading {
            margin: 16px 24px 13px 24px;
        }

        & .pop-up-payments-block {
            @include flex(column);
            row-gap: 16px;
            margin: 0px 22px 123px 22px;


            & .pop-up-payment-block {
                position: relative;
                @include flex(row, flex-start, center);


                & .payment-block-info-bottom {
                    @extend %marginPaddinZero;
                    padding-left: 8px;
                    & .credit-card-mir-img{
                        height: 9px;
                        object-fit: cover;
                        width: 30px;
                    }
                    & .credit-card-visa-img{
                        height: 12px;
                        object-fit: cover;
                        width: 32px;
                    }
                     & .credit-card-mastercard-img{
                         height: 14px;
                         object-fit: cover;
                         width: 24px;
                     }
                     & .credit-card-maestro-img  {
                        height: 14px;
                        object-fit: cover;
                        width: 24px;
                     }
                }
            }

        }

        & .delivery-buttons-block {
            @include flex(row, space-between, center);
            margin: 13px auto 0px auto;

            & .pick-up-point,
            & .by-courier {
                width: 224px;
                height: 36px;
                border-radius: 20px;
                border: 2px solid rgba(203, 17, 171, 0.15);
                background: var(--text-white, $color-white);
                @include detailedFlex(row, center, center, nowrap);
                @extend %textSmallBold;
                column-gap: 8px;

                &:hover {
                    border-radius: 24px;
                    border: 2px solid $color-magenta;
                }
            }
        }

        button {
            cursor: pointer;
            display: block;
            width: 164px;
            height: 44px;
            padding: 20px 0px;
            border: none;
            color: $color-white;
            border-radius: 8px;
            background: var(--system-magenta, $color-magenta);
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
            @extend %textMiddleBold;
            @include detailedFlex(row, center, center, nowrap);
            margin-top: 16px;
        }

        & .pop_up_close {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 21px;
            cursor: pointer;

            & .pop-up-close-icon {
                background-image: url(../assets/icons/close-icon.svg);
                @extend %imgStyle;
                height: 24px;
                width: 24px;
                background-size: 24px 24px;
            }
        }
    }

    & .pop_up_body-second {
        width: 352px;

        button {
            @extend %marginPaddinZero;
            margin-left: 24px;
        }
    }
}
 .credit-card-icon-block {
    background: $color-smoky;
    border-radius: 4px;
    height: 24px;
    width: 32px;
    @include flex(row,center,center);
}
.change-delivery:hover,
.change-payment:hover {
    opacity: 0.7;
    transition: opacity .3s ease-out;
}

.change-icon-block {

    & .change-icon-img {
        background-image: url(../assets/icons//change-icon.svg);
        @extend %imgStyle;
        height: 20px;
        width: 20px;
        background-size: 20px 20px;
    }
}
.change-icon-block :hover {
    fill: $color-magenta;
    stroke: $color-magenta;
    transition: all .5s ease-out;
}

// toollip
 .discount-tooltip-1 {
    height: 64px;
    right: -2px;
    top: 50px;
    width: 239px !important;
    filter: drop-shadow(0 0 1px rgba(0,0,0,.3)) drop-shadow(0 2px 10px rgba(0,0,0,.15));
    & .discount-tooltip-blocks {
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        & .discount-tooltip-block {
            @include flex(row, space-between,center);
            column-gap: 8px;
         }
         & .discount-tooltip-paragraph {
            color: var(--light-system-gray, $color-gray);
            @extend %textSmall;
         }
         & .discount-tooltip-price {
            color: var(--light-system-text, $color-black);
            @extend %textSmall;
         }
    }

 }
.wb-tooltip, .mg-tooltip , .discount-tooltip-1, .sber-tooltip {
    width: 280px;
    height: fit-content;
    padding: 11px 16px 13px;
    background-color: $color-white;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.30)) drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
    @include flex(column, flex-start, flex-start);
    row-gap: 8px;
    position: absolute;
    z-index: 2;
    display: none;

 
    & .wb-tooltip-heading,  & .mg-tooltip-heading , & .discount-tooltip-1-heading{
        @extend %textSmallBold;
    }

    & .wb-tooltip-paragraph, & .mg-tooltip-paragraph, & .discount-tooltip-1-paragraph, & .sber-tooltip-paragraph {
        color: $color-black;
        @extend %textSmall;
    }

    & .wb-tooltip-heading, & .mg-tooltip-heading, & .discount-tooltip-1-heading
    & .wb-tooltip-paragraph, & .mg-tooltip-paragraph, & .discount-tooltip-1-paragraph{
        @extend %marginPaddinZero;
        text-align: left;
    }
}
 .sber-section-block {
    position: relative;
 }
.sber-tooltip {
    height: 56px;
    width: 288px;
    top: 18px;
    left: 210px;
}


//
//This code has been updated with proper commenting. Comments have been added to provide a clear and concise explanation of each section of the code.